* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Condensed", sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    134.34% 134.34% at 50% 0%,
    #7b97bd 0%,
    #d4d4dd 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameboard {
  width: 600px;
  border: 1px solid white;
  border-radius: 15px;
  margin-top: 50px;
  height: 150px;
  padding-top: 25px;
  text-align: center;
}

.game-area {
  display: flex;
  justify-content: space-around;
}

.scoreboard-user,
.scoreboard-computer {
  margin-top: 50px;
  width: 476px;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.score {
  width: 350px;
  height: 380px;
  background-color: rgb(192, 187, 187);
  border: 2px solid black;
  border-radius: 8px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score h1 {
  color: #565468;
  font-size: 96px;
  font-family: "Barlow", sans-serif;
}

.score p {
  color: #2a45c2;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 2.5px;
  text-align: left;
}
.hands {
  background-image: url("./assets/triangle.png");
  background-repeat: no-repeat;
  width: 476px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  background-position: center;
}

.hands .hand {
  cursor: pointer;
}

.hands .hand:hover {
  transform: translate3d(0px, -8px, 0px);
  transition: all 0.2s;
}

.scissors {
  margin-left: 20px;
}

.paper {
  margin-right: 20px;
}

.result-lost {
  color: #bc2e1e;
  text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4,
    2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd,
    3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4,
    5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd,
    6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4,
    8px 7px 0px #5dabcd;
  color: #bc2e1e;
  display: none;

}

.result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-won {
  color: #ffffff;
  background: #232323;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
  color: #ffffff;
  background: #232323;
  display: none;
}

.refreshGame {
  -moz-box-shadow: 3px 4px 0px 0px #3e7327;
	-webkit-box-shadow: 3px 4px 0px 0px #3e7327;
	box-shadow: 3px 4px 0px 0px #3e7327;
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
  margin-top: 56px;
  width: 190px;
  height: 46px;
  display: none;
  text-align: center;
  font-size: 20px;
  
}

.refreshGame:hover {
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}

.finishedGame {
  margin-bottom: 70px;
  font-size: 50px;
  text-shadow: 1px 3px 0 #f1eeee, 1px 13px 5px #aba8a8;
  display: none;
}

.contest {
  width: 900px;
  display: none;
  margin-top: 50px;
}

.contest img {
  width: 275px;
  height: 275px;
}

.contest > div {
  flex: 1;
}

.contest h1 {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}

.newGame {
  color: hsl(228, 66%, 37%);
  background-color: rgb(7, 184, 207);
  padding: 18px 32px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.15s;
  font-size: larger;
  text-shadow: black;
}

.newGame:hover {
  background: rgb(218, 218, 218);
  transform: translate3d(0px, -2px, 0px);
}

.contest .handImageContainer {
  display: flex;
  justify-content: center;
}

.referee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.referee h1 {
  font-size: 28px;
  color: white;
}

@media only screen and (max-width: 768px) {

  .wrapper {
    width: 100vw;
    height: auto;
  }

  .game-area {
    flex-direction: column;
  }

  .contest {
    flex-direction: column;
  }

  


}